html, body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background: #f6f6f6;
    font-family: 'Roboto', sans-serif;
}
#header{
    display:flex;
    flex-direction: column;
    align-items: center;
    background: #264653;
    color: #f7ede2;
}
#navigation{
    background: #dda15e;
}
#navigation ul{
    margin: 0;
    padding: 0;
    border:1px solid #e7e7e7;
    background-color: #f3f3f3;
}
#navigation li{
    display: inline-block;
}
#navigation li a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #264653;
    padding: 20px;
    font-weight: 600;
}
#navigation li a:hover{
    background: #c58845;
}
#navigation li a:hover:not(.active){
    background-color: #ddd;
}

#navigation li a.active{
    color: #fff;
    background-color: #665;
}
.seccion-navegador{
     margin: 0 20px;
}
#main-content-container{
    display: flex;
    flex-direction: row;
    height: 100%;
}
#main-content{
    display: flex;
    flex-direction: column;
    flex: 6;
    padding-bottom: 40px;
    max-width: 60rem;
    margin: auto;
}
#main-content > img {
    width: 100%;
}
.main-content__text{
    padding: 15px 20px 0;
}
#links-sidebar{
    background: #ecebeb;
    flex: 2;
    max-width: 16rem;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.links{ 
    text-decoration: none;
    color: #902539;
    margin: 10px 0;
}
#links-sidebar ul{
    padding: 0 0 0 10px;
}
#links-sidebar li {
    list-style: none;
}

.artiles-content{
    display: flex;
    flex-direction: row;
    margin: 30px 0 0;
    flex-wrap: wrap;
    justify-content: space-between;
}
.article{
    margin: 10px 0;
    width: 45%;
}
.article > .article__image {
    max-width: 100%;
}
.article > .article__background {
    height: 180px;
    background-position: center;
    background-size: cover;
}
.article > .article__title {
    color: #264653;
}
.article > .article__link {
    text-decoration: none;
}
.footer__main_content{
    margin-top: auto;
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    background: #264653;
    color: #f7ede2;
}
.footer__main_content > .footer__section{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer__main_content > .form-group{
    display: flex;
    flex-direction: row;
}
.social-media__section{
    font-size: 25px;
}
.social-media__section > a{
    text-decoration: none;
    color: #f7ede2;
}
input[type=submit]{
    background: #f7ede2;
    padding: 10px 20px;
    border: none;
    color: #264653;
    font-size: 18px;
    width: 100%;
}
input[type=email]:focus, textarea:focus{
    border: 3px solid #dda15e;
}
input[type=email], textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    transition: 0.5s;
    outline: none
}
#navigation .menu-icon-list{
    display: none;
}
@media screen and (max-width: 600px){
    #navigation li:not(:first-child):not(.menu-icon-list){
        display: none
    }
    #navigation .menu-icon-list{
        display: block;
        float: right;
    }
    #navigation.responsive{
        position: relative;
    }
    #navigation.responsive .menu-icon-list{
        position: absolute;
        right: 0;
        top: 0;
    }
    #navigation.responsive .menu-icon-list a{
        color: #fff;
    }
    #navigation.responsive li{
        float: none;
        display: block!important;
    }
    #navigation.responsive li a {
        text-align: left;
    }

}
@media screen and (max-width: 600px){
    #links-sidebar {
        display: none;
    }
}

@media screen and (max-width: 600px){
    #main-content-container {
        padding-right: 10px;
        padding-left: 10px;
    }
}